<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section class="banner">
		<!-- Hero Section -->
		<div class="container">
			<div class="hero-section">
				<h1>Manage Your Contacts Effortlessly</h1>
				<p>Keep track of all your important contacts in one place with
					our easy-to-use, modern interface.</p>
				<a href="#" th:href="@{/signin}" class="btn btn-hero btn-custom">Get Started</a>
			</div>
		</div>


	</section>
</body>
</html>